.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.top {
  width: 100%;
}

.bottom {
  position: absolute;
  bottom: -50px;
  left: 0px;
  width: 100%;
}

.melisse {
  position: absolute;
  left: -30px;
  bottom: 170px;
  width: 20%;
}

.logo {
  height: 30vmax;
}