.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.anim1 {
  animation: anime1 500ms infinite;
}

.anim2 {
  opacity: 0;
  animation: anime2 500ms infinite;
}

.anim3 {
  opacity: 0;
  animation: anime3 500ms infinite;
}

.anim4 {
  opacity: 0;
  animation: anime4 500ms infinite;
}

@keyframes anime1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes anime2 {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes anime3 {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}

@keyframes anime4 {
  0% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes anim1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes anim2 {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes anim3 {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}

@keyframes anim4 {
  0% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
} */











.bottom {
  position: absolute;
  bottom: -50px;
  left: 0px;
  width: 100%;
}

.melisse {
  position: absolute;
  right: 20px;
  bottom: 170px;
  width: 20%;
}

.logo {
  height: 200px;
}









/* .anim1 {
  animation: bottom1 500ms infinite;
}

.anim2 {
  opacity: 0;
  animation: bottom2 500ms infinite;
}

.anim3 {
  opacity: 0.5;
  animation: bottom3 500ms infinite;
}

.anim4 {
  animation: bottom4 500ms infinite;
}

@keyframes bottom1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bottom2 {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bottom3 {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 0.5;
  }
}

@keyframes bottom4 {
  0% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
} */